<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./css/navigation.css">
   <link rel="stylesheet" href="./css/style.css">
   <link rel="stylesheet" href="./css/header.css">
   <link rel="stylesheet" href="./css/home/main.css">
   <link rel="stylesheet" href="./css/footer.css">
   <link rel="stylesheet" href="./css/home/overlay.css">

   <script src="https://kit.fontawesome.com/8c9fcb09a3.js" crossorigin="anonymous"></script>
   <script src="./js/home/home_setup.js" type = "module"></script>
   <script src="./js/home/htmlinjection.js" type = "module"></script>
   <script src="./js/home/alert_management.js " type = "script"></script>

   <title> DJ | MuSe Radio</title>
</head>
<body>
   <header>
      <span>
         <button id = "system_settings">
            <i class="fa-solid fa-gears"></i>
         </button>
         <label for="system_settings">settings</label>
      </span>
      <span>
         <button id = "system_help" onclick="window.location.href = './MuSe_Help.html';">
            <i class="fa-solid fa-person-circle-question"></i>
         </button>
         <label for="system_help">help</label>
      </span>
   </header>
   <nav>
      <!-- company logo -->
      <span class="nav_group" id = "brand">
         <button onclick="window.location.href = './index.html';">
            <img src="./assets/brand/SVG/MuSe.svg" alt="">
            <span class="logo_text">MuSe<sup>®</sup></span>
         </button>
      </span>
      <hr class = "nav_separator">
      <span class="nav_group" id = "primary_group">
         <ul class="group_list">
            <li class="group_item">
               <button id = "home" onclick="window.location.href = './MuSe_DJ_Home.html';">
                  <i class="fa-solid fa-house"></i>
               </button>
            </li>
            <label for="home">home</label>
            <li class="group_item">
               <button id = "schedule" onclick="window.location.href = './MuSe_DJ_Schedule.html';">
                  <i class="fa-solid fa-calendar-week"></i>
               </button>
            </li>
            <label for="schedule">schedule</label>
            <li class="group_item">
               <button id = "live" onclick="window.location.href = './MuSe_DJ_Live.html';">
                  <i class="fa-solid fa-tower-broadcast"></i>
               </button>
            </li>
            <label for="live">live</label>
            <li class="group_item">
               <button id = "messaging" onclick="window.location.href = './MuSe_DJ_Messaging.html';">
                  <i class="fa-solid fa-envelope-open-text"></i>
               </button>
            </li>
            <label for="messaging">messaging</label>
            <li class="group_item">
               <button id = "metrics" onclick="window.location.href = './MuSe_DJ_Metrics.html';">
                  <i class="fa-solid fa-chart-simple"></i>
               </button>
            </li>
            <label for="metrics">metrics</label>
         </ul>
      </span>
      <hr class = "nav_separator">
      <span class="nav_group" id = "secondary_group">
         <ul class="group_list">
            <li class="group_item">
               <button id = "profile">
                  <i class="fa-solid fa-user"></i>
               </button>
            </li>
            <label for="profile">profile</label>
            <li class="group_item">
               <button id = "exit" onclick="window.location.href = './MuSe.html';"> 
                  <i class="fa-solid fa-right-from-bracket"></i>
               </button>
            </li>
            <label for="exit">exit</label>
         </ul>
      </span>
   </nav>

   <div id = "schedule_info_overlay" style="display: none;">
      <table>
         <tr>
           <th>Person 1</th>
           <th>Person 2</th>
           <th>Person 3</th>
         </tr>
         <tr>
           <td>Emil</td>
           <td>Tobias</td>
           <td>Linus</td>
         </tr>
         <tr>
           <td>16</td>
           <td>14</td>
           <td>10</td>
         </tr>
       </table>
   </div>

   <!-- Main content -->
   <main>
      <div id = "left_container">
         <section id="profile_info">
            
         </section>

         <section>

         </section>

         <section style = "overflow: hidden;">
            <!-- Schedule -->
             <span class="header">
                <span class = "control_group">
                   <input type="radio" name="" id="toggle_schedule">
                   <label for="toggle_schedule"><i class="fa-solid fa-calendar-week"></i> schedule</label>
                </span>
             </span>
             <span class="schedule" id = "user_schedule" style="overflow-y: scroll;">
               <!-- schedule markup goes here -->
             </span>
         </section>
      </div>
      <div id = "right_container">
         <section>
            <span class="header">
               <span class = "control_group">
                  <input type="radio" name="" id="toggle_alerts">
                  <label for="toggle_alerts"><i class="fa-solid fa-bell"></i> alerts</label>
               </span>
               <span class = "control_group">
                  <input type="radio" name="" id="toggle_inbox">
                  <label for="toggle_inbox"><i class="fa-solid fa-inbox"></i> inbox</label>
               </span>
            </span>
            <span class="content">
               <span class="content_one" id = "alerts_container">
                  <!-- Javascript generates markup -->
               </span>
               <span class="content_two" id = "inbox_container">

               </span>
            </span>
         </section>
         <section>
            <span class="header">
               <span>last broadcast metrics</span>
               <i class="fa-solid fa-chart-simple"></i>
            </span>
            <span class="metrics">
               <span class="metric">
                  <!-- listeners -->
                   <span class="number">
                     <i class="fa-solid fa-headphones-simple"></i>
                     <span class="value">00</span>
                   </span>
                   <span class="metric_name">
                     <span>listeners</span>
                   </span>
                   <span class="metric_change">+0.00%</span>
               </span>
               <span class="metric">
                  <!-- stream time -->
                  <span class="number">
                     <i class="fa-solid fa-stopwatch"></i>
                     <span class="value">00 <sup>.00</sup></span>
                   </span>
                   <span class="metric_name">
                     <span>minutes</span>
                   </span>
                   <span class="metric_change" style="text-align: center; justify-content: center;">+0.00%</span>
               </span>
               <span class="metric">
                  <!-- likes -->
                  <span class="number">
                     <i class="fa-solid fa-heart"></i>
                     <span class="value">00</span>
                   </span>
                   <span class="metric_name" style="text-align: right; justify-content: right; width: 100%;">
                     <span style="text-align: right; justify-content: right;">likes</span>
                   </span>
                   <span class="metric_change" style="text-align: right; justify-content: right;">+0.00%</span>
               </span>
            </span>
         </section>
         <section>
            <span class="header">
               <span>pinned contacts</span>
               <i class="fa-solid fa-address-book"></i>
            </span>
            <span class="contacts">
               <span class="contact">
                  <span class="avatar"><img src="./assets/images/avatars/Tim.jpg" alt=""></span>
                  <span class="info">
                     <span class="name">Tim Jones</span>
                     <span class="role">producer</span>
                     <span class="notification">1 new notification</span>
                  </span>
               </span>
               <span class="contact">
                  <span class="avatar"><img src="./assets/images/avatars/Melody.jpg" alt=""></span>
                  <span class="info">
                     <span class="name">Melody Blinks</span>
                     <span class="role">manager</span>
                     <span class="notification">3 new notifications</span>
                  </span>
               </span>
            </span>
         </section>

      </div>
   </main>
   <footer>
      We are MuSe&reg; Radio
   </footer>
</body>
</html>